@import "tailwindcss";
@plugin "daisyui" {
    themes: black --default;
};

textarea {
    height: clamp(1vh, 10vh, 20vh);
}
.set-accordion-content {
    grid-template-columns: repeat(auto-fill, 200px);

    .card-display > img {
        aspect-ratio: auto 200 / 279;
    }

    input {
        width: calc(var(--size) * 2);
        height: var(--size);
    }
}